<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern> -->
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%5p] [%15t] %c{2} - %m%n</pattern> -->
			<pattern>%d{HH:mm:ss.SSS} %-5level [%15.15t] %-40.40logger{39} : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.prototype" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>